rsync_indexes.sh
decider-cyclers
unsorted_indexes
bb5_undecided_index_with_heuristics
.DS_Store
bb5_heuristically_decided_indexes*
bb5_undecided_index
bb5_decided_indexes*
bb5_decided_indexes.zip
build
all_5_states_undecided_machines_with_global_header
all_5_states_undecided_machines_with_global_header*
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
